{% extends 'base.html.twig' %}

{% block title 'Edit pin #' ~ pin.id %}

{% block body %}

<div class="container">
	<div class="row mt-5">
		<div class="col-lg-2">
		</div>
		<div class="col-lg-4">
   <h1>Edit Pin </h1>
 {{form_start(form) }}
  <div class="mb-3">
     {{ form_widget(form.title) }}
    <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
  
  </div>
  <div class="mb-3">
  
     {{ form_widget(form.description) }}
  </div>
 
  <div class="mb-3">{{form_widget(form.image)}}
		<a class="text-muted" href="{{ asset('uploads/' ~ pin.image) }}">Voir l'image</a>
	
  </div>
 
 
  <input type="submit"  class="btn btn-dark" value="Edit Pin" formnovalidate>


    

   
    
   


    

    {{form_end(form) }}
</div> 
<div class="col-lg-4">
		</div>

{% endblock %}

